* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  height: 40vh;
}
.background {
  object-fit: cover;
  border-radius: 0px;
  width: 100%;
  height: 40vh;
  opacity: 1;
  object-position: center 5%;
}
